@tailwind base;
@tailwind components;
@tailwind utilities;

.placeholder[data-feedback="true"] {
  opacity: 0 !important;
}

/* Hide scrollbar in all browsers */
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
